{% extends "_layout.html.twig" %}

{% block header %}
	<h1>
		<img src="/wp-content/plugins/UKMRFIDwp/img/id-48.png" width="40" style="float: left; margin-right: 10px" />
		<a href="?page=RFID">RFID</a> / 
		{{ area.getName() }}
	</h1>
	
	<h3>Hvem som er sjekket inn på området</h3>
{% endblock %}

{% block content %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Mobil</th>
				<th>Gruppe</th>
				<th>Registrert inn</th>
			</tr>
		</thead>
		
		<tbody>
			{% for PiA in persons %}
				<tr>
					<td>{{ PiA.getPerson() }}</td>
					<td>{{ PiA.getPerson().getPhone() }}</td>
					<td>{{ PiA.getPerson().getHerd().getName() }}</td>
					<td>{{ PiA.getEntryTime()|date('d.m H:i:s') }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Ingen er sjekket inn på {{ area.getName() }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}