{% extends "_layout.html.twig" %}

{# {% block header %}
	<h1>
		<img src="/wp-content/plugins/UKMRFIDwp/img/id-48.png" width="40" style="float: left; margin-right: 10px" />
		RFID
	</h1>
{% endblock %} #}


{% block content %}
	<h3>
		Etterregistrering
	</h3>
	<p class="help-text">OBS: Denne skal kun brukes til etterregistrering av manuelt noterte passeringer, f.eks dersom systemet har gått ned.</p>

	<div class="col-xs-12 col-sm-6">
		<h3>Velg område</h3>
		<select class="form-control" name="area" id="area" {{ areas is not defined or areas is empty ? '' }} required>
			{% for area in areas %}
				<option value="{{ area.getId() }}">{{ area.getName() }}</option>
			{% else %}
				<option value="">No areas available!</option>
			{% endfor %}

			{% if UKM_HOSTNAME == 'ukm.dev' %}
				<option value="1">DEV-option</option>
			{% endif %}
		</select>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3>Registrèr</h3>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<button class="btn btn-success btn-block clickable scan" data-direction="in">Inn</button>
				<br class="visible-xs-block" />
			</div>
			<div class="col-xs-12 col-md-6">
				<button class="btn btn-primary btn-block clickable scan" data-direction="out">Ut</button>
			</div>
			<input type="hidden" id="rfidUserId" name="rfidUserId" value="">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3>Søk etter bruker</h3>
		<p>Skriv brukerens navn eller fylke i boksen. Når det er kun èn bruker synlig eller en bruker er markert, kan du trykke på Inn / Ut-knappene.</p>
		<input type="text" name="filtrer" id="filterInnslag" placeholder="Skriv her for å søke i listen..." class="form-control block" />
		
		<div class="well" id="resultsBox">
			<ul class="list-group">
				{% for person in persons %}
					<li class="list-group-item personElement clickable" data-rfid="{{ person.getRFID() }}" id="rfid-{{ person.getRFID() }}">
						{{ person.getName() }}
					</li>
				{% endfor %}

				{% if UKM_HOSTNAME == 'ukm.dev' %}
					<li class="list-group-item personElement clickable" data-rfid="rfid-{{ loop.index }}" id="rfid-{{ loop.index }}">
						Person personen
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
	
	<script type="text/javascript">

	// Click a user
	jQuery(".personElement").click(function(event) {
		jQuery(event.target).css("background-color", "#17a2b8!important");
		jQuery("#rfidUserId").val(jQuery(event.target).attr('data-rfid'));
	});
		
	// Send AJAX
	jQuery(".scan").click(function(e) {
		var direction = jQuery(e.target).attr('data-direction');
		var rfid = jQuery("#rfidUserId").val();
		var area = jQuery("#area").val();

		console.log('Direction: '+direction);
		console.log('RFID-value: '+rfid);
		console.log('Area: '+area);

		// Verify that user is selected first
		if( undefined == area || undefined == rfidUserId) {
			alert("Velg område og person først!");
			return;
		}

		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'scan',
			'rfid': rfid,
			'direction': direction,
			'area': area
		};
	
		jQuery.post(
			ajaxurl,
			postData, 
			function(response) {
				updatedUser(response);
			},
			"json"
		);
	});

	// Bruker oppdatert rett
	function updatedUser(response) {
		console.log(response);
		if(response.success) {
			console.log("Saved scan");
			// Reset user-ID
			jQuery("#rfidUserId").attr('data-rfidUserId', "");
			// Finn brukerens felt.
			var userField = "#rfid-"+response.rfid;
			// Blink grønn farge ved lagring OK.
			//jQuery(userField).css("background-color", "#28a745!important");
			jQuery(userField).addClass('green');
			setTimeout(function() {
				//jQuery(userField).css("background-color", "");
				jQuery(userField).removeClass('green');
			}, 2000);
		} else if (false == response.success) {
			alert("Feil! \n" + response.message);
		}
		else {
			alert("En ukjent feil oppsto!");
		}
	}
	</script>
	<style>
	.green {
		background-color: #28a745!important;
	    -webkit-transition: background-color 1000ms linear;
	    -ms-transition: background-color 1000ms linear;
	    transition: background-color 1000ms linear;
	}
	</style>
{% endblock %}