{% extends "_layout.html.twig" %}

{% block header %}
	<h1>
		<img src="/wp-content/plugins/UKMRFIDwp/img/id-48.png" width="40" style="float: left; margin-right: 10px" />
		<a href="?page=RFID">RFID</a> / 
			Import av brukerdata fra Excel

	</h1>
{% endblock %}


{% block content %}
	<h4>Bruksanvisning</h4>
	<p>
		Last opp en fil du vil registrere brukere fra, og trykk på en bruker. Info fylles ut automatisk til høyre, og RFID-feltet blir valgt. Bip deretter ID-brikken over scanneren. Data lagres automatisk, og neste deltaker i listen blir valgt.
	</p>
	<p>
		Deltakeren du jobber med blir blå - de som allerede har en lagret RFID er grønne.
	</p>
	<div class="col-xs-6">
		<div class="form-group">
			<form method="POST" id="excelImportFileForm" enctype="multipart/form-data">
				<label for="excelImportFile">Last opp Excel-fil</label>
				<input type="file" class="form-control-file form-control-lg" id="excelImportFile" name="excelImportFile">
			</form>
			<span class="lead">{{ filnavn }}</span>
		</div>
	
		<ul id="personliste" class="list-group">
			{% if personListe is defined %}
				{% for person in personListe %}
					<li class="list-group-item personElement clickable" id="person-{{ person.id }}" excel-rad-id="{{ person.id }}" data-person-fornavn="{{ person.fornavn }}" 
					data-person-etternavn="{{ person.etternavn }}" data-mobil="{{ person.mobil }}" data-herdid="{{ person.herd }}" data-rfid="{{ person.rfid }}" style="{{ person.rfid ? 'background-color: #28a745!important' : '' }}">
						{{ person.fornavn }} {{ person.etternavn }}
					</li>
				{% else %}
					<p class="lead">Ingen personer i filen</p>
				{% endfor %}
			{% elseif error is defined %}
				<div class="alert alert-{{ error.level }}">{{ error.message }}</div>
			{% endif %}
		</ul>
	</div>
	<div class="col-xs-6">
		<form id="UpdateUserForm">
			<label>Fornavn</label>
			<input type="hidden" name="excel-rad-id" id="excel-rad-id">
			<input type="text" class="form-control" name="firstname" id="personFornavn">
			<label>Etternavn</label>
			<input type="text" class="form-control" name="lastname" id="personEtternavn">
			<label>Mobil</label>
			<input type="text" class="form-control" name="number" id="personMobil">
			<label>Gruppe</label>
			<select class="form-control" name="personherd" id="personherd">
				{% for herd in herds %}
					<option value="{{ herd.getId() }}" data-herd-foreign-id="{{ herd.getForeignId() }}">{{ herd.getName() }}</option>
				{% endfor %}
			</select>
			<label class="label label-warning">OBS: Om det er endring av RFID må du manuelt kontrollere herdn</label>
			<label>RFID</label>
			<input type="text" class="form-control" name="rfidValue" id="rfidValue" autocomplete="off">
			<p class="lead">Info lagres når du scanner ID-kortet.</p>
		</form>
	</div>
	
	<script type="text/javascript">
	// Submit fil når den velges
	jQuery(document).ready(function() {
		jQuery("#excelImportFile").change(function(e) {
			jQuery("#excelImportFileForm").submit();
		});
	});

	// Klikk på en bruker
	jQuery(".personElement").click(function(e) {
		selectUser(e.target);	
	});
	
	jQuery("#UpdateUserForm").keyup(function(e) {
		// Submit funker ikke uten submit-knapp, så vi gjør det manuelt.
		if(e.keyCode == 13) {
			e.preventDefault();
	
			// Send brukerinfo
			var excel_rad_id = jQuery("#excel-rad-id").val();
			var personFornavn = jQuery("#personFornavn").val();
			var personEtternavn = jQuery("#personEtternavn").val();
			var personMobil = jQuery("#personMobil").val();
			var herdid = jQuery('#personherd').val();
			var rfidValue = jQuery("#rfidValue").val();
			
			var postData = {
					'action': 'RFID_ajax',
					'subaction': 'registerPerson',
					'foreignId': "excel-rad-"+excel_rad_id,
					'personFornavn': personFornavn,
					'personEtternavn': personEtternavn,
					'personMobil': personMobil,
					'herd': herdid,
					'rfidValue': rfidValue
				};
			
			jQuery.post(
				ajaxurl,
				postData, 
				function(response) {
					updatedUser(response);
				},
				"json"
			);
	
			resetFields('#person-'+jQuery("#excel-rad-id").val());
		}
	});
	
	// Move data to fields, set bg-color
	function selectUser(e) {
		// Fjern bakgrunnsfarge kun på element som ikke har RFID-verdi lagret.
		jQuery(e).
			parent("ul").
			children().
			filter(function (index){
				return "" == jQuery(this).attr('data-rfid');
			}).
			css("background-color", "");
		jQuery(e).css("background-color", "#17a2b8!important");
	
		jQuery("#excel-rad-id").val(jQuery(e).attr('excel-rad-id'));
		jQuery("#personFornavn").val(jQuery(e).attr('data-person-fornavn'));
		jQuery("#personEtternavn").val(jQuery(e).attr('data-person-etternavn'));
		jQuery("#personMobil").val(jQuery(e).attr('data-mobil'));

		var herd = jQuery(e).attr('data-herdid');

		// Hvis personen har definert grupppe (foreign-id), bruk den
		jQuery("#personherd option").each( function(){
			if( jQuery( this ).attr('data-herd-foreign-id') == herd ) {
				jQuery(this).prop('selected','selected');
			}
		});
		
		jQuery("#rfidValue").val(jQuery(e).attr('data-rfid'));
		jQuery("#rfidValue").focus();
	}
	
	// Resett feltene, velg neste
	function resetFields(current) {
		jQuery("#excel-rad-id").val("");
		jQuery("#personFornavn").val("");
		jQuery("#personEtternavn").val("");
		jQuery("#personMobil").val("");
		jQuery("#personherd").val("");
		jQuery("#rfidValue").val("");
	
		jQuery(current).next().click();
	}
	
	// Bruker oppdatert rett
	function updatedUser(response) {
		console.log(response);
		if(response.success) {
			console.log("Saved user data");
			// Finn brukerens felt.
			var userField = "#person-"+response.ukm_person_id;
			jQuery(userField).attr('data-rfid', response.rfid);
			// Sett grønn farge ved lagring OK.
			jQuery(userField).css("background-color", "#28a745!important");	
		} else if (false == response.success) {
			alert("Feil! \n" + response.message);
		}
		else {
			alert("En ukjent feil oppsto!");
		}
	}
	
	</script>
{% endblock %}