{% extends "_layout.html.twig" %}

{% block header %}
	<h1>
		<img src="/wp-content/plugins/UKMRFIDwp/img/id-48.png" width="40" style="float: left; margin-right: 10px" />
		<a href="?page=RFID">RFID</a> / 
		<a href="?page=RFIDreports">Rapporter</a> /
		Antall i {{ area.getName() }}
	</h1>
{% endblock %}


{% block content %}
	<div class="col-12 col-sm-6">
		<h2>Deltakere</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Område</th>
					<th>Deltakere</th>
				</tr>
			</thead>
			
			<tbody>
				{% for herd in herds if herd.getForeignId() matches '/^UKM-fylke-[\\d\\.]+$/' %}
					<tr>
						<td>{{ herd.getName() }}</td>
						<td>{{ herd.getPersonsInAreaCount() }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Ingen grupper er registrert i systemet</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="col-12 col-sm-6">
		<h2>Ledere</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Område</th>
					<th>Ledere</th>
				</tr>
			</thead>
			
			<tbody>
				{% for herd in herds if herd.getForeignId() matches '/^UKM-fylke-ledere-[\\d\\.]+$/' %}
					<tr>
						<td>{{ herd.getName() }}</td>
						<td>{{ herd.getPersonsInAreaCount() }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Ingen grupper er registrert i systemet</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}