{% extends "_layout.html.twig" %}

{% block content %}
	<h3>Velg Scanner</h3>
	<div class="col-12">
		<form method="POST">
			<input type="hidden" name="addScanner" value="true">
			<select class="form-control" name="scannerId"> 
			{% for scanner in scanners %}
				<option value="{{ scanner.getId() }}" id="{{ scanner.getId() }}">{{ scanner.getName() }} - {{ scanner.getId() }} - {{ scanner.getRegisterTime()|date("D d.m H:i") }}</option>
			{% else %}
				<option disabled>Ingen aktive scannere!</option>
			{% endfor %}
			</select>
			<input type="submit" class="btn btn-small" value="Legg til">
		</form>
	</div>
	<div class="col-12">
		<h3>Valgte scannere:</h3>
		{% for scanner in selectedScanners %}
			<div class="col-xs-3 scannerBox card" id="scannerBox-{{ scanner.getId() }}">
				<span class="pull-right clickable close-icon" data-effect="fadeOut" id="delete-{{ scanner.getId() }}"><i class="fa fa-times"></i></span>
				<div class="card-body">
			        <span class="scannerInfo">{{ scanner.getName() }}</span>
			        <span class="personInfo"></span>
			        <span class="timestamp"></span>
			        <span class="personHerd"></span>
			        <div class="infoBox">
			            <div class="col-1 editButton"></div>
			            <div class="col-11">
			                <span class="scannerDirection">{{ scanner.getDirection() }}</span><br>
			                ID: <span class="scannerID">{{ scanner.getGUID() }}</span>
			            </div>
			        </div>
			    </div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript">

	jQuery( document ).ready(function() {
		jQuery(".close-icon").click(function(event) {
			console.log("Deleting scanner" + jQuery(event.target).id());
		});
	});

	jQuery( document ).ready(function() {
		console.log("Checking for session cookie");
		var postData = {
			'action': 'RFID_ajax',
			'subaction': 'scannerMonitorSettings'
		};
		jQuery.post(
			ajaxurl,
			postData,
			function(response) {
				console.log(response);
				if(response.success) {
					setupSSE(response.scannerList);
				}
			},
			"json"
		);
	});

	function setupSSE(scannerList) {
		console.log(scannerList);

		var scanner_string = "";

		for( i = 0; i < scannerList.length; i++) {
			scanner_string += scannerList[i].scanner_id;
			if ( i < scannerList.length-1 ) {
				scanner_string += "_";
			}
		}

		var scannerEventSource = new EventSource(
			"//rfidnode.ukm.no/stream/" + scanner_string + "/",
			options = {
				'withCredentials': true
		});
		scannerEventSource.onmessage = function(event) {
			console.log(event);
			updateScannerWithRecentInfo(JSON.parse(event.data));
		};

		scannerEventSource.addEventListener('error', function(e) {
		if (e.readyState == EventSource.CLOSED) {
		    // Connection was closed.
		    console.log("SSE-connection closed!");
		  }
		}, false);
	}


	// Accepts an object
	function updateScannerWithRecentInfo(data) {
		var scanner = data.scanner;
		// Timestamp
		if(data.hasOwnProperty('time')) {
			var date = new Date(data.time);
			$('scannerBox-'+scanner +' timestamp').html(date.getHours()+":"+date.getMinutes() );	
		}
		
		// User:
		if(data.hasOwnProperty('person_id')) {
			console.log("Found scan!");
			console.log(data);
		}
	}
	
	</script>
{% endblock %}